<div *ngIf="userData" class="container mt-5">
  <div class="row">
    <div class="col-12 card p-0">
      <div class="card-header d-flex justify-content-between">
        <h5>User Details</h5>
        <button class="btn btn-sm btn-link" [routerLink]="'/users'">View all users</button>
      </div>
      <div class="my-4 card-body">
        <div class="row">
          <div class="col-md-4">
            <img [src]="userData.avatar" class="img-fluid w-100 avatar-img" alt="User Avatar">
          </div>
          <div class="col-md-8">
            <ul class="list-group">
              <li class="list-group-item"><strong>ID:</strong> {{ userData.id }}</li>
              <li class="list-group-item"><strong>Email:</strong> {{ userData.email }}</li>
              <li class="list-group-item"><strong>First Name:</strong> {{ userData.first_name }}</li>
              <li class="list-group-item"><strong>Last Name:</strong> {{ userData.last_name }}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-footer justify-content-end d-flex">
        <a routerLink="edit" class="btn btn-primary mx-2">Edit</a>
        <a routerLink="" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>
