<div *ngIf="usersList && usersList.length" class="container mt-5">
  <div class="row">
    <div class="col-12 card p-0">

      <div class="table-container">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"><div class="px-2">#</div> </th>
              <th scope="col">Avatar</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">View</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of usersList">
              <td ><div class="px-2">{{ user.id }}</div> </td>
              <td>
                <img [src]="user.avatar" class="me-2" style="width: 20px" />

              </td>
              <td>{{ user.first_name }} {{ user.last_name }}</td>
              <td>{{ user.email}}</td>
              <td><button class="btn btn-sm btn-link w-100" [routerLink]="user.id.toString()">View</button></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="card-footer d-flex justify-content-between p-2">
        <ngb-pagination [pageSize]="pageSize" [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
          (pageChange)="getUsers(page, pageSize)">
        </ngb-pagination>

        <select class="form-select form-select-sm" style="width: auto" [(ngModel)]="pageSize"
          (ngModelChange)="getUsers(page, pageSize)">
          <option [ngValue]="5">5 items per page</option>
          <option [ngValue]="10">10 items per page</option>
          <option [ngValue]="20">20 items per page</option>
        </select>
      </div>


    </div>
  </div>
</div>
