<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">Users dashboard App</a>
    <button class="navbar-toggler" type="button" (click)="toggleCollapse()"
      [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarSupportedContent">
      <div class="navbar-nav w-100 justify-content-end">
        <a class="nav-item nav-link" *ngIf="isLoggedIn" [routerLink]="['/users']" (click)="toggleCollapse()">Users</a>
        <a class="nav-item nav-link" *ngIf="isLoggedIn" [routerLink]="['/users/new']" (click)="toggleCollapse()">Create a new user</a>
        <a class="nav-item nav-link" *ngIf="!isLoggedIn" [routerLink]="['/login']"
          (click)="toggleCollapse()">Login</a>
        <a class="nav-item nav-link btn-link" *ngIf="isLoggedIn"
          (click)="logout() ;toggleCollapse()">Logout</a>
      </div>
    </div>
  </div>
</nav>
